<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MCQ Generator</title>
</head>
<body style="margin: auto; text-align:center;">
    <h1 style="marign-bottom: 20px;"> Sudur Paschim Ko Local MCQ Generator</h1>
    <form method="post">
        {{ form.hidden_tag() }}
        <h3><label for="paragraphs"> Enter your content below:</label></h3>
        {{ form.context(id="paragraphs", rows=5, cols=40) }}
        <br>
        <div style="margin-top: 20px;">
        <strong><label for="number_of_mcqs">Number of required questions:<br></label></strong>
        {{ form.number_of_questions(id="number_of_mcqs", type="number") }}
        <br>
        </div>
        <button style="margin-top: 10px;" type="submit">Generate MCQs</button>
    </form>

    <h2>Upload a File</h2>
    <form method="post" enctype="multipart/form-data">
        {{ file_upload_form.hidden_tag() }}
        <div>
            <label for="{{ file }}">Select a file:</label>
            {{ file_upload_form.file }}
        </div>

        <div>
            <strong><label for="{{ number_of_questions }}">Number of required questions:<br></label></strong>
            {{ file_upload_form.number_of_questions(id="number_of_mcqs", type="number") }}
        </div>

        <div>
            {{ file_upload_form.submit }}
        </div>
    </form>

</body>
</html>
