<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MCQ Generator</title>
</head>
<body style="margin: auto; text-align:center;">
    <h1 style="marign-bottom: 20px;"> Sudur Paschim Ko Local MCQ Generator</h1>
    <form method="post">
        {{ form.hidden_tag() }}
        <h3><label for="paragraphs"> Enter your content below:</label></h3>
        {{ form.context(id="paragraphs", rows=5, cols=40) }}
        <br>
        <div style="margin-top: 20px;">
        <strong><label for="number_of_mcqs">Number of required questions:<br></label></strong>
        {{ form.number_of_questions(id="number_of_mcqs", type="number") }}
        <br>
        </div>
        <button style="margin-top: 10px;" type="submit">Generate MCQs</button>
    </form>
</body>
</html>
