{% extends "layout.html" %}
{% block maintitle %}
<div class = "logo">
<img class = "main-logo" src="{{ url_for('static', filename='images/logo-transparent-new.png') }}">
    <h3> Automated Generation of MCQs using T5</h3>
</div>
{% endblock %}
{% block content %}
    <form class="text-area-class" method="post">
        {{ form.hidden_tag() }}
        <div class="text-content">
<!--            <label for="paragraphs" class="form-label">Enter content below: </label>-->
<!--            {{ form.context(id="paragraphs", rows=5, cols=40) }}-->
            <div class = "text-content">
                <label>Enter your text below: </label>
                {{form.context (id = "paragraphs", class="form-control", rows="3", cols="100",
                placeholder="Please enter your content here.",  oninput="autoResize()")}}
<!--            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>-->
            </div>
        </div>
<!--        <h3><label for="paragraphs"> Enter your content below:</label></h3>-->
<!--        {{ form.context(id="paragraphs", rows=5, cols=40) }}-->
<!--        <br>-->
        <div class="text-content" id="top-number" style="margin-top: 20px; width: 500px;">
        <label>Number of required questions:<br></label>
        <br>
        {{ form.number_of_questions(class="form-control", id="number_of_mcqs",
            placeholder="Number of MCQs", type="number") }}
        <br>
        </div>
        <button onclick="showLoader()" class="btn btn-outline-success" type="submit">Generate MCQs</button>
    </form>
{% endblock %}